
<ion-view view-title="Login">
	<ion-content class="padding">

		<div class="card">			
			<div ng-if="vm.loggedUser.displayName" class="item item-divider">
				Signed in as {{vm.loggedUser.displayName}}
			</div>
			<div class="list padding">
				<label ng-if="!vm.loggedUser.isSignedIn" class="item item-input">
					<span class="input-label">Email</span>
					<input type="text" ng-model="vm.user.email">
				</label>
				<label ng-if="!vm.loggedUser.isSignedIn" class="item item-input">
					<span class="input-label">Password</span>
					<input type="password" ng-model="vm.user.password">
				</label>
				<button ng-if="!vm.loggedUser.isSignedIn" ng-click="vm.signIn()"
					class="button button-block button-positive activated">
					Sign In
				</button>
				<button ng-if="vm.loggedUser.isSignedIn" ng-click="vm.showChatRooms()"
					class="button button-block button-positive activated">
					Show chat rooms
				</button>
				<button ng-if="vm.loggedUser.isSignedIn" ng-click="vm.signOut()"
					class="button button-block button-assertive activated">
					Sign Out
				</button>
			</div>
			<div ng-if="!vm.loggedUser.isSignedIn" class="padding" style="text-align:center">
				<button ng-click="vm.modal.show()"
					class="button button-small button-outline icon-left ion-person-add button-positive">
					Create New Account
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>