<ion-modal-view>
	<ion-header-bar>
		<h1 class="title">Add review</h1>
		<div class="buttons">
			<button class="button button-clear button-primary" ng-click="vm.cancel()">Cancel</button>
		</div>
	</ion-header-bar>
	<ion-content class="padding">
		<ion-list>
			<label class="item item-input">
				<input type="text" placeholder="Full name" ng-model="vm.review.author">
			</label>
			<label class="item item-input">
				<textarea placeholder="Review" rows="6" ng-model="vm.review.comment"></textarea>
			</label>
			<div class="set-rating padding-vertical">
				<span>Rate the article</span>
				<rating ng-model="vm.review.rate" max="5"></rating>
			</div>
			<button class="button button-full" ng-click="vm.submit()">Submit</button>
		</ion-list>
	</ion-content>
</ion-modal-view>
