<ion-view view-title="Our shops" class="shops">
	<ion-nav-title>
		<img src="images/logo-large.png" class="logo">
 	</ion-nav-title>
	<ion-content>
		<ion-slide-box show-pager="false">
			<ion-slide ng-repeat="shop in vm.shops">
				<div class="shops-wrapper" style="background-image: url({{shop.cover}})">
					<!--
					<img class="logo" src="images/logo-large.png">
					-->
					<img class="logo" ng-src="{{shop.logo}}">
					<div class="padding-horizontal padding-20">
						<p class="category">{{shop.category}}</p>
						<h1>{{shop.title}}</h1>
						<p class="address">{{shop.address}}</p>
						<p class="phone">{{shop.phone}}</p>
						<img src="images/pin.png" style="width: 70px" ng-click="vm.getDirections($index)">
					</div>
				</div>
			</ion-slide>
		</ion-slide-box>
		</div>
	</ion-content>
</ion-view>
