<ion-view view-title="Business details">
	<ion-nav-buttons side="right">
		<button class="button button-clear icon ion-ios-star" ng-click="vm.showFavorites()"></button>
	</ion-nav-buttons>

	<ion-content>
		<ion-slide-box>
			<ion-slide ng-repeat="picture in vm.business.pictures">
				<div class="box blue home-hello">
					<img ng-src="{{picture}}"/>
					<div class="item">
						<h1 style="margin-bottom: 0;">{{vm.business.name}}</h1>
						<span>{{vm.business.category}}</span>
					</div>
				</div>
			</ion-slide>
		</ion-slide-box>

		<div class="list card">
			<a class="item item-icon-left" ng-click="vm.showContactUs()">
				<i class="icon ion-ios-time-outline"></i>
				It's {{::vm.currentDateTime}} and we are
				<span ng-if="vm.business.isBusinessOpen" class="balanced">Open</span>
				<span ng-if="!vm.business.isBusinessOpen" class="assertive">Close</span>
			</a>

			<a class="item item-icon-left" ng-click="vm.getDirections()">
				<i class="icon ion-navigate"></i>
				<span>You are <span ng-if="!!vm.business.distance">{{vm.business.distance}}</span> away. Get directions</span>
			</a>

			<a class="item item-icon-left" ng-click="vm.toggleFavorites()">
				<span ng-if="!vm.business.isInFavorites">
					<i class="icon ion-ios-star-outline"></i>
					<span>Add to favorites</span>
				</span>
				<span ng-if="vm.business.isInFavorites">
					<i class="icon ion-ios-star balanced"></i>
					<span>Remove from favorites</span>
				</span>
			</a>
		</div>

		<div class="row">
			<div class="card col home">
				<a class="item item-text-wrap" ng-click="vm.showNews()">
					<h1><i class="icon ion-speakerphone"></i></h1>
					<h2>News</h2>
				</a>
			</div>

			<div class="card col home">
				<a class="item item-text-wrap" ng-click="vm.showProducts()">
					<h1><i class="icon ion-ios-cart"></i></h1>
					<h2>Products</h2>
				</a>
			</div>
		</div>

		<div class="row">
			<div class="card col home">
				<a class="item item-text-wrap" ng-click="vm.showServices()">
					<h1><i class="icon ion-android-list"></i></h1>
					<h2>Services</h2>
				</a>
			</div>

			<div class="card col home">
				<a class="item item-text-wrap" ng-click="vm.showCatalogues()">
					<h1><i class="fa fa-file-pdf-o"></i></h1>
					<h2>Catalogs</h2>
				</a>
			</div>
		</div>
	</ion-content>
</ion-view>
