<ion-view view-title="Favorites" cache-view="false">
	<ion-content ng-init="vm.search = ''" ng-class="{ 'vcenter': vm.businesses.length === 0 }">
		<ion-list ng-if="vm.businesses.length > 0" can-swipe="true">
			<ion-item class="search-box">
				<input type="text" placeholder="Search" ng-model="vm.search" />
			</ion-item>
			<ion-item
				class="item-thumbnail-left item-text-wrap"
				ng-click="vm.navigate(business.guid)"
				ng-repeat="business in vm.businesses | filter: { name: vm.search }">
				<img ng-src="{{business.logo}}">
				<h2>{{business.name}}</h2>
				<h3>{{business.category}}</h3>
				<p>{{business.description | limitTo: 140 }}{{business.description.length > 140 ? '...' : ''}}</p>

				<ion-option-button class="button-assertive" ng-click="vm.deleteFromFavorites(business)">
					Delete
				</ion-option-button>
			</ion-item>
		</ion-list>

		<div ng-if="vm.businesses.length === 0">

			<h1 class="text-center"><i class="icon ion-sad-outline"></i></h1>
			<p class="text-center padding-top dark">
				<span>There are no favorites in your list!</span>
			</p>
		</div>

	</ion-content>
</ion-view>
