<ion-view view-title="Products" class="catalog">
	<ion-nav-title>
		<img src="images/logo-large.png" class="logo">
	</ion-nav-title>
	<ion-content>
		<div class="row points-strip">
			<div class="col points-label">Points: </div>
			<div class="col col-80">
				<ion-scroll zooming="true" direction="x" scrollbar-x="false" class="wide-as-needed">
					<span ng-repeat="point in vm.points">
						<button class="button" style="width: 80px;">
							{{point.value.substring(0, point.value.length - 3)}}
						</button>
					</span>
				</ion-scroll>
			</div>
		</div>

		<ion-slide-box show-pager="false">
			<ion-slide ng-repeat="product in vm.products">
				<div class="product-wrapper">
					<img ng-src="{{product.image}}" />
					<div class="padding-horizontal">
						<h1 class="dark">{{product.title}}</h1>
						<div class="description dark"><p>{{product.tagline}}</p></div>
						<!--
						<div class="description dark" ng-bind-html="product.description"></div>
						-->
						<p class="price dark">{{product.points}} points</p>
					</div>
				</div>
			</ion-slide>
		</ion-slide-box>
		</div>
	</ion-content>
</ion-view>
