<ion-view view-title="{{vm.category}}">
	<ion-content>
		<ion-refresher
			pulling-text="Pull to refresh..."
			on-refresh="vm.doRefresh()">
		</ion-refresher>

		<div ng-repeat="p in vm.products" ng-if="$index%2 == 0" class="row">
			<div class="card col" ng-click="vm.showProductDetails(vm.products[$index].guid)">
				<div class="item item-image">
					<img ng-src="{{vm.products[$index].thumb}}">
				</div>

				<a class="item">
					<h3>{{vm.products[$index].title}}</h3>
					<h4>{{vm.products[$index].price}}</h4>
				</a>
			</div>

			<div ng-style="{'visibility': !!vm.products[$index + 1] ? 'visible' : 'hidden'}" class="card col"
				ng-click="vm.showProductDetails(vm.products[$index + 1].guid)">
				<div class="item item-image">
					<img ng-src="{{vm.products[$index + 1].thumb}}">
				</div>

				<a class="item">
					<h3>{{vm.products[$index + 1].title}}</h3>
					<h4>{{vm.products[$index + 1].price}}</h4>
				</a>
			</div>

		</div>

	</ion-content>
</ion-view>
