<ion-view view-title="Services">
	<ion-content>
		<div ng-repeat="service in vm.services" ng-if="$index%2==0" class="row">
			<div class="card col" ng-click="vm.showServiceDetails(vm.services[$index].guid)">
				<div class="item">
					<h2>{{vm.services[$index].title}}</h2>
				</div>

				<div class="item item-image">
					<img ng-src="{{vm.services[$index].thumb}}">
				</div>

				<div class="item item-icon-left">
					<i class="icon ion-arrow-right-c"></i>
					Read more
				</div>
			</div>

			<div class="card col" ng-click="vm.showServiceDetails(vm.services[$index + 1].guid)">
				<div class="item">
					<h2>{{vm.services[$index + 1].title}}</h2>
				</div>

				<div class="item item-image">
					<img ng-src="{{vm.services[$index + 1].thumb}}">
				</div>

				<div class="item item-icon-left">
					<i class="icon ion-arrow-right-c"></i>
					Read more
				</div>
			</div>

		</div>

	</ion-content>
</ion-view>
