/*
 * Typography
 */
h1, h2, h3, h4 {
  color: #ffffff;
}

h1.dark, h2.dark, h3.dark, h4.dark {
  color: #000000;
}

h1{
  font-family: 'Playfair Display';
  font-size: 35pt;
}

h2, h3, h4{
  font-family: Montserrat;
  /*font-size: 28px;*/
}

p{
  font-family: Montserrat;
  color: #ffffff;
}

p.dark,
.dark > p {
  color: #000000;
}

/*
 * Buttons / Inputs
 */
 button{
   font-family: Montserrat;
 }

.button.button-royal{
  background-color: #ba77ff;
  border-color: #ba77ff;
}

input{
  color: #808080;
  font-family: Montserrat;
}

/*
 * Messages
 */
 .assertive, a.assertive {
    color: #e50036;
}

/*
 * Common style classes based on the provided .psd
 */
ion-content.watermark{
  background: url(../images/splash-background.png) transparent center center;
  background-size: cover;
}

ion-content.watermark img.logo{
  width: 46%;
  max-width: 334px;
  margin-bottom: 86px;
}

ion-view.skeuomorphic,
ion-content.skeuomorphic{
  background: url(../images/home-background.png) transparent center center;
  background-size: cover;
}

ion-view

/*
 * Screens
 */

/* == Welcome == */


/* == Login == */

.login-button {
	padding: 0;
	border: 0;
}

.login-button button {
	padding: 0 !important;
	margin: 0 !important;
}

.login-info,
.login-info * {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 13px;
  right: 10px;
}

/* == Home == */

.home-hello{
 padding: 94px 0;
 text-align: center;
 background: url(../images/splash-background.png) transparent center center;
 background-size: cover;
}

.home-hello h1{
  line-height: 100%;
  margin: 0;
}

.home-hello p{
  font-family: 'Roboto-Light';
}

.home-card{
  background: url(../images/home-card.png) no-repeat center center;
  width: 360px;
  height: 250px;
  background-size: contain;
  margin: 15px auto;
  transform: translateX(-1%);
}

.home-card p.name{
  font-family: Roboto;
  font-size: 10px;
  padding: 34px 96px;
}

.home-card p.points{
  font-family: 'Roboto-Thin';
  font-size: 62px;
  text-align: center;
  margin: 20px;
  position: relative;
	transform: 			translateY(-63%)
}

/*
.home-card img{
  top: 40px;
  left: -5px;
  position: relative;
}
*/


ion-footer-bar.bar-transparent{
  background: transparent;
  height: 100px;
  padding: 20px;
}

ion-footer-bar.bar-transparent button{
  height: 50px;
  font-size: 16px !important;
}

/* == Catalog / Products == */

.catalog {}

.catalog .row.points-strip {
  background-color: #f7f7f7;
  padding: 10px 0;
  border-right: 1px solid #000000;
  border-left: 1px solid #000000;
  font-family: 'Roboto-Light';
}

.catalog .row.points-strip .col:nth-child(2){
  padding-right: 0;
}

.catalog .row.points-strip .points-label{
  padding-top: 9px;
  text-align: center;
  text-transform: uppercase;
}

.catalog .row.points-strip .button{
  font-family: 'Roboto-Light';
  border-color: #c5c5c5;
  background-color: #f7f7f7;
  line-height: 100%;
  min-height: 30px;
}

.catalog .row.points-strip .button.active{
  border-color: #0c0c0c;
}

.catalog .slider-slide{
  min-height: 700px;
  border-right: 1px solid #000000;
}

.catalog .slider-slide:nth-child(1){
  border-left: 1px solid #000000;
}

.catalog .slider-slide .product-wrapper{
  text-align: center;
}

.catalog .slider-slide h1{
  line-height: 90%;
}

.catalog .slider-slide .description,
.catalog .slider-slide .description p{
  font-family: 'Playfair Display';
  color: #000000;
  font-size: 18px;
}

.catalog .slider-slide .price{
  font-family: Roboto;
  color: #000000;
  font-size: 14px;
}

/* == Shops == */

.shops{}

.shops .slider-slide .shops-wrapper{
  background-size: cover;
  height: 100vh;
}

.shops .slider-slide .shops-wrapper{
  text-align: center;
}

.shops .slider-slide .shops-wrapper img.logo{
  width: 31%;
  padding-top: 140px;
}

.shops .slider-slide .shops-wrapper p.category{
  font-family: 'Roboto-Light';
  font-size: 18px;
  margin: 10px 0;
  text-transform: uppercase;
}

.shops .slider-slide .shops-wrapper h1{
  font-family: 'Roboto-Light';
  font-size: 35px;
  margin: 10px 0;
  font-weight: bold;
}

.shops .slider-slide .shops-wrapper p.address{
  font-family: 'Roboto-Regular';
  font-size: 14px;
  padding-top: 90px;
  margin-bottom: 20px;
}

.shops .slider-slide .shops-wrapper p.phone{
  font-family: 'Roboto-Regular';
  font-size: 14px;
  margin-bottom: 20px;
}

/* == Articles / Univers == */
.articles{}

.articles .item,
.article .header {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 30px;
  padding-bottom: 30px;
}


.articles .item,
.article .header{
  border: none;
}

.articles .item p.tag,
.article .header p.tag{
  color: #fff;
  font-family: 'Roboto-Light';
  font-size: 8pt;
  text-transform: uppercase;
}
.articles .item p.tag span,
.article .header p.tag span{
  border: 1px solid #fff;
  padding: 3px;
}

.articles .item h1,
.article .header h1 {
  font-family: 'Roboto-Thin';
  font-size: 30pt;
  line-height: 100%;
}

.articles .item p.intro,
.article .header p.intro{
  color: #fff;
  font-family: 'Roboto-Light';
  font-size: 13pt;
}

ion-view.article{
  background: #000;
}
.article .header{
  padding: 30px 16px;
}

.article .content-inner{
  color: #fff;
  padding: 25px;
}

.article .content-inner p,
.article .content-inner *{
  font-family: 'Roboto-Light';
  font-size: 13pt;
}

/* == Featured == */
.featured{}

ion-view.featured{
  background: #000;
}

.featured .header,
.featured .header p{
  text-align: center;
  font-family: 'Roboto-Light';
  font-size: 13px;
}

.featured .header{
  margin-top: 30px;
  padding: 20px;
}

.featured .list .item{
  height: 170px;
  background: #000 url(../images/homme-femme-bg.png) no-repeat center center;
  background-size: contain;
  border: 0;
  margin: 20px 0px;
  text-align: center;
}

.featured .list .item p {
  font-family: 'Playfair Display';
  font-size: 21pt;
  color: #fff;
  position: relative;
  top: 50%;
  transform: translate(-4%,-63%);
  -webkit-transform: translate(-4%,-63%);
  -o-transform: translate(-4%,-63%);
  -moz-transform: translate(-4%,-63%);
}

.featured .list .item p{
  display: none;
}

.featured .list .item.Homme p.homme,
.featured .list .item.Femme p.femme{
  display: inherit;
}

.featured-details{}

ion-view.featured-details{
  background: #000;
}

.featured-details img.main{
  border-radius: 50%;
  width: 70%;
  text-align: center;
  display: block;
  margin: 20px auto 10px;
}



.featured-details h1{
  font-size: 35pt;
}

.featured-details .content-inner,
.featured-details .content-inner *{
  font-family: 'Roboto-Light';
  font-size: 13pt;
}

.featured-details .content-inner h1{
  font-family: 'Playfair Display';
  font-size: 35pt;
  line-height: 100%;
}





/* == Map == */

 #map-view .scroll {
 	height: 100%;
 }

 .gmaps {
 	height: 100%;
 }

/*
 * Android. Action sheet
 */

.platform-android .action-sheet .button {
  padding-left: 16px;
}

/*
 *
 */
.product-price {
  font-size: 80%;
  right: 16px;
  position: absolute;
  margin-top: 2px;
}

/* == Menu == */
.menu{}

.menu ion-content img.logo{
  width: 100px;
  margin: 50px 0 50px 45px;
}

.menu ion-item{
  color: #1d1d26;
  font-family: Montserrat;
  text-transform: uppercase;
}

.menu ion-item.terms{
  color: #a8a8a8;
  font-size: 9pt;
  text-transform: capitalize;
}

.item-complex .item-content, .item-radio .item-content {
    padding: 20px 49px 20px 16px;
}

.menu ion-item a{
  margin-left: 30px;
}

ion-side-menu .bar-footer.bar-light.logout{
  background: #ffffff;
  bottom: 26px;
  left: 20px;
}

.button.button-light.logout {
    font-family: Montserrat;
    color: #000000;
    border-color: #cccccc;
    background-color: #cccccc;
    line-height: 100%;
    min-height: 45px;
    padding: 17px 55px
}
/*
 * Common
 */

.footer-button {
 	bottom: 10px;
 	position: absolute;
 	width: 100%;
}

.padding-horizontal.padding-20{
  padding-left: 20px;
  padding-right: 20px;
}

.button{
  line-height: 52px;
}

.center {
    display: flex;
    justify-content: center;
}

.wide-as-needed {
    overflow: scroll;
    white-space: nowrap;
}

.align-right {
  text-align: right;
}

.font-15x {
  font-size: 150%;
}

.item-stacked-label .data {
  display: block;
  height: 24px;
  padding-top: 2px;
  padding-left: 0px;
  font-size: 14px;
  line-height: 16px;
  vertical-align: middle;
  margin-top: 4px;
  color: #aaaaaa;
}

/* Empty. Add your own CSS if you like */
img {max-width: 100%;}

.content-inner{padding: 16px;}

.content-horizontal-padding {
  padding-left: 16px;
  padding-right: 16px;
}

.card.col{padding: 0;}

/*
 * Navigation logo
 */
.nav-bar-title img.logo{
  height: 70%;
  top: 6px;
  position: relative;
}

/*
 * Transparent navigation bar
 */
.bar.bar-light {

  background-color: #000;

  /* background-color: rgba(255,255,255,.66) !important;  */ /* or transparent, or background:none */

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b2b2b2+0,000000+100&0.65+0,0+100 */
  /* background: -moz-linear-gradient(top,  rgba(178,178,178,0.65) 0%, rgba(0,0,0,0) 100%);    */  /* FF3.6-15 */
  /* background: -webkit-linear-gradient(top,  rgba(178,178,178,0.65) 0%,rgba(0,0,0,0) 100%);  */ /* Chrome10-25,Safari5.1-6 */
  /* background: linear-gradient(to bottom,  rgba(178,178,178,0.65) 0%,rgba(0,0,0,0) 100%);    */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6b2b2b2', endColorstr='#00000000',GradientType=0 ); */ /* IE6-9 */

}

/*
 * remove border bottom in ion header
 * http://stackoverflow.com/questions/27123773/remove-border-bottom-in-ion-header
 */
.bar-header{
  border: 0 !important;
  border-color: transparent !important;
  background-image: none !important;
  border-bottom: none !important;
}

.bar-header .button,
.bar-header .button *,
.bar-header .left-buttons .button,
.bar-light .button.button-clear{
  color: #fff
}

/*
.scroll-content {
  overflow: visible !important;
}
*/
