<ion-view view-title="Leave feedback">
	<ion-nav-buttons side="right">
		<button class="button button-clear icon ion-paper-airplane"
			ng-click="vm.sendEmail()" ng-disabled="!vm.image && !vm.video && !vm.comment"></button>
	</ion-nav-buttons>

	<ion-content class="has-header">
		<ion-list>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Your message:</span>
				<textarea rows="8" ng-model="vm.comment"></textarea>
			</label>

			<ion-item>
				<img ng-if="!!vm.image" ng-src="{{vm.image}}" width="100%" />
				<button ng-if="!vm.image" class="button button-block button-calm" ng-click="vm.addImage()">
					Add image
				</button>
				<button ng-if="!!vm.image" class="button button-block button-energized" ng-click="vm.removeImage()">
					Remove image
				</button>
			</ion-item>

			<ion-item>
				<video ng-show="!!vm.video" id="video" width="100%" controls type="video/quicktime">
					<source id="source" type="video/mp4"/>
				</video>
				<button ng-if="!vm.video" class="button button-block button-balanced" ng-click="vm.addVideo()">
					Add video
				</button>
				<button ng-if="!!vm.video" class="button button-block button-energized" ng-click="vm.removeVideo()">
					Remove video
				</button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
