<ion-view view-title="Style Repository" class="gallery-preview">
	<ion-nav-buttons side="right">
		<button class="button button-clear icon ion-plus" ng-click="vm.add()"></button>
	</ion-nav-buttons>
	<ion-content>
		<ion-scroll zooming="true" direction="x" scrollbar-x="false" class="categories-filter">
			<span ng-repeat="category in vm.categories" class="button-wrapper">
				<button class="button button-light filter-button"
				ng-click="vm.filterByCategory(category)"
				ng-class="{'active-filter-button': category === vm.selectedCategory}">
				{{category}}
				</button>
				<span class="button-separator"> &middot; </span>
			</span>
		</ion-scroll>

		<div class="row" ng-repeat="pictures in vm.groupedPictures">
			<div class="col col-50" ng-repeat="picture in pictures">
				<div class="item item-image">
					<img ng-src="{{picture.thumbPath || picture.path}}" ng-click="vm.navigateToFullGalleryView(picture)">
					<p class="favorite" ng-click="vm.favorite(picture)"><i class="icon ion-ios-heart" ng-class="{balanced: picture.favorite}"></i></p>
					<p class="tag">{{picture.category}}</p>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
