<ion-view view-title="Catalogs">
	<ion-content>
		<div ng-repeat="catalog in vm.catalogs" ng-if="$index%2 == 0" class="row">
			<div class="card col" ng-click="vm.openCatalog(vm.catalogs[$index].guid)">
				<div class="item item-image">
					<img ng-src="{{vm.catalogs[$index].thumb}}">
				</div>

				<div class="item align-right padding font-15x">
					<i ng-if="!!vm.catalogs[$index].pdf" class="fa fa-file-pdf-o padding-horizontal"></i>
					<i ng-if="!!vm.catalogs[$index].url" class="fa fa-link"></i>
				</div>
			</div>

			<div class="card col" ng-click="vm.openCatalog(vm.catalogs[$index + 1].guid)">
				<div class="item item-image">
					<img ng-src="{{vm.catalogs[$index + 1].thumb}}">
				</div>

				<div class="item align-right padding font-15x">
					<i ng-if="!!vm.catalogs[$index + 1].pdf" class="fa fa-file-pdf-o padding-horizontal"></i>
					<i ng-if="!!vm.catalogs[$index + 1].url" class="fa fa-link"></i>
				</div>
			</div>

		</div>

	</ion-content>
</ion-view>
